---
layout: default
eleventyExcludeFromCollections: true
---

{% include 'partials/nav.njk' %}


<!-- home
	================================================== -->
<section id="home">

	<div class="home-content-table">
		<div class="home-content-tablecell">
			<div class="row">
				<div class="col-twelve">

					<h1 class="animate-intro jesus">Jesus</h1>
					<h3 class="animate-intro">The message of</h3>
					<h1 class="animate-intro replacement-hope">Hope</h1>
					<h3 class="animate-intro">In the heart of</h3>
					<h1 class="animate-intro vauxhall">Vauxhall</h1>

					<div class="more animate-intro">
						<a class="smoothscroll button stroke" href="#about">
							Who we are
						</a>

						<a class="smoothscroll button stroke" href="#sunday">
							Sundays
						</a>

						<a class="smoothscroll button stroke" href="#weekschedule">
							What's going on
						</a>
					</div>

				</div> <!-- end col-twelve -->
			</div> <!-- end row -->
		</div> <!-- end home-content-tablecell -->
	</div> <!-- end home-content-table -->

	<ul class="home-social-list">
		<li class="animate-intro">
			<a href="https://www.facebook.com/vauxhall105/"><i class="fa fa-facebook-square"></i></a>
		</li>
		<li class="animate-intro">
			<a href="https://twitter.com/hopevauxhall"><i class="fa fa-twitter"></i></a>
		</li>
		<!--<li class="animate-intro">
			<a href="https://www.instagram.com/hopevauxhall/"><i class="fa fa-instagram"></i></a>
		</li>-->
	</ul> <!-- end home-social-list -->

	<div class="scrolldown">
		<a href="#about" class="scroll-icon smoothscroll">
			Scroll Down
			<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
		</a>
	</div>

</section> <!-- end home -->


<!-- about
	================================================== -->
<section id="about" class="hope-section hope-section--welcome">

	<div class="row about-wrap">
		<div class="col-full">

			<div class="about-profile-bg"></div>

			<div class="intro">
				<h1 class="animate-this big-title big-title--white">Welcome to</h1>
				<h2 class="lead animate-this"><span>Hope Church Vauxhall</span></h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-six main-text tab-full">
			<p>Although we meet in a place, Hope Church is really a group of people - a family devoted to God, to each other and to Vauxhall.</p>
			<p>Whatever your background and whatever your story, the good news about Jesus is the only thing that can bring real hope. That’s why we love telling people about Jesus and keeping him central in everything we do.</p>
			<p>We want Hope Church to be a place where people of all ages and from all backgrounds can come together and hear the life-changing, hope-bringing message of Jesus.</p>
			<p>Come and join us.</p>
		</div>

		<div class="col-six tab-full">
			<img src="/static/images/hope-church-vauxhall-people.jpg" alt="Hope Church Vauxhall" class="animate-intro mb-4" data-animate="fadeInRight"/>

			<div class="more animate-intro pull-right">
				<a class="smoothscroll button stroke" href="#vision">
					The Vision
				</a>
				<a class="smoothscroll button stroke" href="#weekschedule">
					What's Going On
				</a>
			</div>
		</div>
	</div>


	</div> <!-- end about-wrap  -->

</section> <!-- end about -->


<!-- Sundays
	================================================== -->
<section id="sunday" class="hope-section hope-section--sunday">

	<div class="row about-wrap">
		<div class="col-full">
			<div class="intro">
				<h1 class="lead animate-this big-title big-title--white">Sundays at Hope</span></h1>
			</div>
		</div>
	</div>

	<div class="row flexed">
		<div class="col-six service-details tab-full">
			<h2>Church Service</h2>
			<ul>
				<li>Every Sunday</li>
				<li>11am at Hope Church</li>
				<li>105 Tyers Street, Vauxhall, SE11 5HS</li>
			</ul>
			<img src="/static/images/map.svg" alt="Map of Vauxhall. Hope Church 105 Tyers Street, Vauxhall" class="animate-intro map mb-4" data-animate="fadeInLeft"/>
			<div class="more animate-intro">
				<a class="button stroke" href="https://goo.gl/maps/X2pwizqkHGD2" target="_blank" rel="noopener">
					Go to Map
				</a>
			</div>
		</div>

		<div class="col-six main-text tab-full">
			<p>Everyone is welcome on Sundays – you don’t need to be a ‘good’ or ‘churchy’ person and you don’t need to wear anything special.</p>
			<p>On Sundays we will always open the Bible and hear God speak to us through his word. We will talk a lot about Jesus – because we believe he is the real hope for Vauxhall. We will sing songs that praise God and we will talk to Him in prayer. We also love sharing food together and so we end our Sundays with a meal.</p>
			<p>Our Sundays are family friendly and we have a children’s group for primary school age children during the service.</p>
			<div class="more animate-intro">
				<a class="smoothscroll button stroke" href="#weekschedule">
					Rest of the Week
				</a>
			</div>
		</div>

	</div>


	</div> <!-- end about-wrap  -->

</section> <!-- end about -->


<!-- about
	================================================== -->
<section id="vision" class="vision">

	<div class="row narrow section-intro with-bottom-sep animate-this">
		<div class="col-full">

			<div class="intro">
				<h3 class="animate-this">This is what matters</h3>
			</div>

			<h1>Jesus</h1>

			<p class="lead">As a church we want to be all about Jesus. We believe that the whole of the Bible is about him, that
				he is the centre of all things, and that he is the hope of the world.</p>

		</div> <!-- end col-full -->
		<div class="col-full">

			<h1>the message of hope</h1>

			<p class="lead">Hope is not an idea or a desire, it is not wishful thinking or finger-crossing. Real hope is absolute
				confidence that what God has promised will come true because of Jesus. Hope is a person. Hope is Jesus. It is this message
				of hope that we want to proclaim.</p>

		</div> <!-- end col-full -->
		<div class="col-full">

			<h1>in the heart of Vauxhall</h1>

			<p class="lead">We are passionate about Vauxhall. As we plant Hope Church in the heart of the place, we pray that the
				message of hope will be planted in the hearts of the people.</p>

		</div> <!-- end col-full -->
	</div> <!-- end row -->



</section> <!-- end services -->


<!-- weekschedule
	================================================== -->
<section id="weekschedule" class="hope-section weekschedule">

	<div class="intro-wrap">

		<div class="row narrow with-bottom-sep animate-this">
			<div class="col-twelve">

				<div class="intro">
					<h3 class="animate-this fadeInUp animated line-before micro-title">Diary</h3>
				</div>
				<h1 class="big-title">What's Going On At Hope</h1>

				<p>Hope Church is open Monday – Friday between 9am and 5pm, do drop in! We host specific events <span class="nobr">throughout the week.</span></p>

				<div class="divide-y hope-diary">
					{% for day in ['Sunday', 'Monday', 'Tuesday','Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
						<div class="grid sm:grid-cols-3 py-4 gap-4">
							<div>
								<h2>{{ day }}</h2>
							</div>
							<div class="sm:col-span-2 divide-y text-left">
								{% for event in collections.activities|activityByDay(day) %}
									<div>
										<h3>{{ event.data.title }}</h3>
										<p>{{ event.data.time|safe }}</p>
										{% if event.data.shortDesc %}
											<p><em>{{ event.data.shortDesc }}</em></p>
										{% endif %}
									</div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>

				<p>All events take place at Hope Church, 105 Tyers Street, Vauxhall, SE11 5HS.</p>
				<p>For more information drop in or call <a href="tel:02075 822 618">02075 822 618</a>.</p>

				<div class="more">
					<a class="button stroke stroke--red" href="https://goo.gl/maps/X2pwizqkHGD2" target="_blank" rel="noopener">
						Find Hope on a Map
					</a>
				</div>

			</div>
		</div> <!-- end row section-intro -->

	</div> <!-- end intro-wrap -->


</section> <!-- end portfolio -->

<section id="testimonials" class="hope-section team">

	<div class="row">
		<div class="col-twelve">
			<h2 class="animate-this">Hope Church Team</h2>
		</div>
	</div>

	<div class="row flex-container">

		<div class="services-list block-1-2 block-tab-full group">

			{% for person in collections.people %}
				<div class="bgrid service-item animate-this fadeInUp animated">

					{% if person.data.photo %}
					<span class="icon">
						<img src="{{ person.data.photo | replace('.jpg', '-sq-250.jpg')  }}" alt="{{ person.data.name }}" class="mx-auto" />
					</span>
					{% endif %}

					<div class="service-content">
						<h3 class="h05">
							{{ person.data.name }}
						</h3>

						<p>
							{{ person.data.shortBio }}
						</p>
					</div>

				</div>
			{% endfor %}

		</div>

	</div> <!-- end flex-container -->

</section> <!-- end testimonials -->



{% include 'partials/footer.njk' %}


<div id="preloader">
	<div id="loader"></div>
</div>
